
a:link{
	color: #c90076	
}

a: visited{
	color: #c90076	
}

main {
	text-align: left;
	padding: 15px 60px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-color: #0F3460;
	border-style: solid;
	border-width: 2px;
	background: #16213E;
}

p {
	line-height: 2;
	margin-left: 5%;
	margin-right: 5%;
}

body {
	text-align: center;
	width: 70%;
	min-width: 400px;
	margin: 30px auto;
	padding: 18px;
	font: 18px Sans;
	background: #1A1A2E;
	color: #E9EADC;
	font-family: Arial, Helvetica, sans-serif;
}


footer a {
	color: #E9EADC;
}

.center {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 5px;
	border-bottom: 2px solid #bbb;
	border-color: #0F3460;
	color: #E94560;
}

.tab {
	margin-left: 40px;
}

.date-format{
	font: 16px Sans;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

dt {
	color: #E94560

}